.DS_Store

doc/
out/
Examples/
obsmodules.exe
/.computed/
*.tkenvlog
*.tkenvrc
*.sca
*.vci
*.vec
*.elog
.settings/language.settings.xml
Makefile
.oppbuildspec
src/Networks/NSFNET/results/.RData
src/Networks/NSFNET/results/.Rhistory
src/Networks/Horn/.qtenvrc
src/Networks/Horn/.cmdenv-log
/INSTALL
/flexi_obsmodules.exe
/flexi_obsmodules_dbg.exe
/libflexi_obsmodules_dbg.dll
*.cmdenv-log
*.qtenvrc
